/****************ABOUT STARTS*************/

.about {
    text-align: center;
    height: 300px;
    margin-top: 35%;
    @include desktop {
        width: 50%;
        margin: 0 auto;
        margin-top: 15%;
    }
    h2 {
        font-size: 2.5rem;
        font-family: 'Playfair Display', 'Arial', 'Helvetica', serif;
        font-weight: normal;
        font-style: normal;
        .italic {
            font-family: 'Playfair Display', 'Arial', 'Helvetica', serif;
            font-weight: normal;
            font-style: italic;
        }
        .bold {
            font-family: 'Playfair Display', 'Arial', 'Helvetica', serif;
            font-weight: bold;
            font-style: normal;
        }
    }
    p {
        font-size: 1.4rem;
        font-family: 'Raleway', 'Garamond', sans-serif;
        font-weight: 100;
        font-style: normal;
        line-height: 40px;
        padding: 2%
    }
}

.border {
    border-bottom: solid 1px #d7d7d7;
}