/****************FOOTER STARTS***********************/

footer {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

footer.container {
    background-color: #242424;
    height: 350px;
}

.contact {
    color: white;
    font-size: 0.8rem;
    line-height: 25px;
    padding-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', 'Arial', 'Helvetica', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
    @include tablet {
        padding-left: 20px;
        text-align: left;
        width: 55%;
    }
    a {
        color: white;
    }
}

s .address {
    color: #969696;
    text-align: center;
    @include tablet {
        text-align: left;
    }
}

.social {
    font-size: 1.2rem;
    font-family: 'Raleway', 'Garamond', sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    @include tablet {
        display: flex;
        flex-direction: column;
        width: 15%;
    }
    li {
        padding: 2%;
    }
}


/*** social icons **/

.fa {
    color: white;
}

.social span {
    display: none;
    @include tablet {
        display: unset;
    }
}

.social a {
    color: white;
    text-decoration: none;
}

.social a:hover {
    color: #b64036;
    text-decoration: none;
}


/****************FOOTER ENDS***********************/