    * {
        box-sizing: border-box;
        outline: none;
    }
    
    body {
        line-height: 2;
    }
    
    html {
        color: #2d2d2d;
        font-size: 14px;
    }
    
    img {
        height: auto;
        max-width: 100%;
    }
    
    * a {
        text-decoration: none;
        color: inherit;
    }
    
    .container {
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        height: auto;
    }