/***********HEADER**************/

.hidden {
    visibility: hidden;
    position: absolute;
}

.topNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 4;
    @include tablet {
        height: 70px;
    }
    @include desktop {
        background-color: transparent;
    }
}

.logo {
    width: 100px;
    height: 30px;
    padding-left: 10px;
    display: flex;
    z-index: 2;
    img {
        padding-top: 10px;
        height: 50px;
        margin-top: 20px;
    }
}

.cart {
    width: 62px;
    margin-top: 10px;
    margin-right: 12px;
    height: 100px;
    display: flex;
    z-index: 2;
    img {
        height: 40px;
        margin-top: 20px;
    }
    @include tablet {
        order: 10;
    }
}

.site-navigation {
    display: flex;
    // order: 3;
    left: 0;
    flex: 2 1 100%;
    justify-content: space-around;
    padding-top: 2%;
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #d7d7d7;
    @include tablet {
        display: flex;
        order: 1;
        flex: 1 1 33.33333%;
        border-bottom: 1px solid #d7d7d7;
        align-items: center;
        top: 0;
    }
    @include desktop {
        border-bottom: 1px solid #d7d7d7;
        position: absolute;
    }
    a {
        font-family: 'Raleway';
        font-weight: 500;
        font-style: normal;
        font-size: 1.1rem;
        text-decoration: none;
        color: #db3a26;
        text-transform: uppercase;
        cursor: pointer;
    }
    li {
        text-align: center;
        display: inline;
        margin-right: 10px;
        @include tablet {
            margin-right: 15px;
        }
    }
}