/***********HEADER**************/

.hidden {
    visibility: hidden;
    position: absolute;
}

.topNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 160px;
    padding-left: 10px;
    display: flex;
    height: 100px;
    img {
        padding-top: 10px;
    }
}

.cart {
    width: 62px;
    margin-top: 10px;
    margin-right: 12px;
    height: 100px;
    display: flex;
    @include tablet {
        order: 10;
    }
}

.site-navigation {
    display: flex;
    order: 3;
    flex: 2 1 100%;
    justify-content: space-around;
    border-top: 1px solid #d7d7d7;
    padding: 2% 2%;
    @include tablet {
        display: flex;
        order: 1;
        flex: 1 1 33.33333%;
        border-top: none;
        align-items: center;
    }
    a {
        font-family: 'Raleway';
        font-weight: 500;
        font-style: normal;
        font-size: 1.1rem;
        text-decoration: none;
        color: #db3a26;
    }
    li {
        text-align: center;
        display: inline;
        margin-right: 10px;
        @include tablet {
            margin-right: 15px;
        }
    }
}