    /****************MOST LOVED PRODUCTS STARTS*************/
    
    .mostLoved {
        padding: 3rem 1rem;
        h2 {
            font-family: 'Playfair Display', 'Arial', 'Helvetica', serif;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            font-size: 2.5rem;
            padding-bottom: 25px;
            padding-top: 40px;
            .italic {
                font-family: 'Playfair Display', 'Arial', 'Helvetica', serif;
                font-weight: normal;
                font-style: italic;
            }
            .bold {
                font-family: 'Playfair Display', 'Arial', 'Helvetica', serif;
                font-weight: bold;
                font-style: normal;
            }
        }
    }
    
    .carousel-cell {
        width: 100%;
        /* full width */
        height: 460px;
        /* height of carousel */
        text-align: center;
        @include tablet {
            width: 50%;
            /* full width */
            position: absolute;
            left: 50%;
        }
        @include desktop {
            width: 25%;
            /* full width */
            position: absolute;
            left: 50%;
        }
    }
    
    .carousel-cell .productDetail {
        color: #969696;
        font-family: 'Raleway', 'Garamond', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 1em;
    }
    
    .carousel-cell .itemName {
        color: #db3a26;
        font-family: 'Playfair Display', 'Arial', 'Helvetica', serif;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5rem;
    }
    /****************MOST LOVED PRODUCTS ENDS*************/